<!-- <header class="flex justify-between items-center h-[10%] px-15 border-b border-[#323232]"> -->
<header class="flex justify-between items-center h-[10%] px-8 sm:px-15 border-bottom">
  <h1 class="font-im-fell text-3xl">lunaireflare</h1>
  <nav>
    <!-- mobile menu -->
    <!-- TODO: add click event -->
    <button
      type="button"
      class="sm:hidden"
    >
    MENU
    </button>

    <!-- desktop nav -->
    <ul class="hidden sm:flex gap-12">
      <li><a href="#">Stack</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>