<!-- <header class="flex justify-between items-center h-[10%] px-15 border-b border-[#323232]"> -->
<header class="flex justify-between items-center h-[10vh] w-full px-8 sm:px-15 border-bottom">
  <h1 class="font-im-fell text-3xl">lunaireflare</h1>
  <nav>
    <!-- mobile menu -->
    <!-- TODO: add click event -->
    <button
      type="button"
      (click)="onMenuClick()"
      class="sm:hidden"
    >
    MENU
    </button>

    <!-- desktop nav -->
    <ul class="hidden sm:flex gap-12">
      <li><a href="#">Stack</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    @if (isMenuOpen) {
      <div class="w-max bg-amber-400">
        <li><a href="#" (click)="onMenuClick()">Stack</a></li>
        <li><a href="#" (click)="onMenuClick()">Projects</a></li>
        <li><a href="#" (click)="onMenuClick()">Contact</a></li>
      </div>
    }

  </nav>
</header>
