a {
  background: linear-gradient(to right, #0D9475, #70AC35) 
    bottom center/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  padding: 0 0 0.6rem;
  transition: background-size 0.5s;
}

a:hover {
  --underline-width: 100%;
}