<main>
  <section class="grid grid-cols-1 sm:grid-cols-2 w-full min-h-[90vh] sm:h-[90vh]">

    <div class="flex flex-col gap-30 justify-center px-8 md:px-30 xl:px-60 py-20">
      <div>
        <p class="text-2xl">Hello, I'm</p>
        <span class="font-im-fell gradient text-5xl">Ambre.</span>
      </div>

      <p class="sm:text-lg">I’m a junior full stack developer based in France, enthusiastic about learning, creativity and tech. My interest lies in conceiving and developing creative solutions where frontend, backend and databases work together seamlessly to provide intuitive and secure user experiences, anchored in real-life needs.</p>

    </div>

    <img 
      [src]="heroImageSrc" 
      alt="space photograph from nasa hubble telescope" 
      class="h-full w-full min-h-0 object-cover"
    />

  </section>
