.border {
  background: url('/bg.webp') padding-box,
              linear-gradient(to right, #0D9475, #70AC35) border-box;
  border: 1px solid transparent;
}

.gradient {
    background-image: linear-gradient(to right, #0D9475, #70AC35);
    color: transparent;
    background-clip: text;
}

.gradient-bg {
  background: linear-gradient(to bottom, #0D9475, #70AC35);
}