/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --main-color-1: #0D9475;
  --main-color-2: #70AC35;
}

@theme {
  --font-im-fell: "IM Fell Double Pica", serif;
  --font-yuji-boku: "Yuji Boku", manuscript;
  --font-belle-aurore: "La Belle Aurore", manuscript;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-image: url("/bg.webp");
  font-family: Ubuntu, Helvetica, Arial;
  color: #d7d7d7;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
